body {
	color: white;
	background-color: #0d0840;
	font-family: 'Josefin Sans', sans-serif;
}

#header-nav {
	background-color: #ff8d00;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/restaurant-logo_large.png') no-repeat;
	height: 150px;
	margin: 10px 15px 10px 0;
}